.create-event-plus-button {
    border: 2px solid;
    padding: 0.5rem;
    border-radius: 9999px; /* Use a high value for rounded-full effect */
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
    &:hover {
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    }
  }

  
.create-event-btn {
    padding: 0.5rem;
    border-radius: 9999px; 
    display: flex;
    align-items: center; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
.create-event-btn:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Equivalent to hover:shadow-2xl in Tailwind */
  }
  