/* Month.css */

.flex-1 {
    flex: 1;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .grid-rows-5 {
    grid-template-rows: repeat(5, 1fr);
  }
  