p{
    font-size: large;
}

.error {
    display: none;
}
.pwd{
    width: 370px;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
} 

.eye-icon {
    margin-left: auto;
    cursor: pointer;
}

.pwd img{
    width: 30px;
    height: 30px;
}

.black-circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
  }

.pwd-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    background-color: #e2bfba;
    border-radius: 10px;
    padding: 5px;
}

img{
    width: 75%;
    height: 75%;
}

.box{
    display: flex;
    background-color: #fdeae6;
    border: none;
    border-radius: 10px;
    margin: 5px;
    height: 75px;
    width: 75px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    align-items: center;
    gap: 15px;
    width: 300px;
  }

.backspace{
    border-radius: 50%;
}

.box {
    transition: transform 0.5s, background-color 0.5s;
}

.box:hover {
    transform: scale(1.10);
    background-color: #ffffff;
}

.box:after {
    transition: transform 0.5s, background-color 0.5s;
}

.box:hover:after {
    transform: scale(1.10);
    background-color: #fff5f3;
}

.box:active{
    background-color: #ffffff;
    transform: scale(1);
    transition: transform 0.1s, background-color 0.1s;
}

.input-identifier {
    /* display: inline-block; */
    font-weight: bold;
    margin-right: 5px;
}

.pass-input {
    display: flex;
    justify-content: center;
}